<div class="panel panel-default">
  <div class="panel-heading">
  	<h3 class="panel-title"><%= request.user.username.capitalize %></h3>
  	<p class="help-block">Request posted <%= time_ago_in_words(request.created_at) %> ago</br>
    Received <%= pluralize(request.readings.count, "Reading") %></p></div>

  <div class="panel-body">
    <p><%= simple_format(request.content) %></p>
    <p><%#= image_tag(request.avatar.large_avatar)%></p>

    <% if current_user.reader? %>
    <%= link_to "Show Request and give a Reading", request, class: "btn btn-md btn-primary" %>
    <% end %>
  </div>

</div>