<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= request.user.username.capitalize %></h3>
    <p class="help-block"><i class="fa fa-clock-o"></i> Request posted <%= time_ago_in_words(request.created_at) %> ago</br>
    <i class="fa fa-heart-o"></i> Received <%= pluralize(request.readings.count, "Reading") %></p></div>

  <div class="panel-body">
    <p><%= simple_format(request.content) %></p>
    <p><%= image_tag(request.avatar.medium_avatar)%></p>

    <%# if current_user.reader? %>
      <%#= link_to "Give a Reading", request, class: "btn btn-md btn-primary" %>
    <%# else %>
      <%= link_to "Show Request", request, class: "btn btn-md btn-primary" %>
    <%# end %>
  </div>
</div>

