<div class="col-md-8">

<div class="panel panel-success">
  <div class="panel-heading">
  	<h3 class="panel-title"><%= @request.user.username.capitalize %></h3>
  	<p class="help-block"><i class="fa fa-clock-o"></i> Request posted <%= time_ago_in_words(@request.created_at) %> ago</br>
    <i class="fa fa-heart-o"></i> Received <%= pluralize(@request.readings.count, "Reading") %></p></div>
  <div class="panel-body">
    <p><%= simple_format(@request.content) %></p> 
    <%= image_tag(@request.avatar.large_avatar)%>
  </div>
  
</div>
</br>

<% if current_user.reader? && @request.readings.count <= 1 && current_user != @request.user %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Post your reading here</h3>
      <p class="help-block">Write a short and helpful text.</div>
    <div class="panel-body">
      <%= render 'shared/reading_form' %>
    </div>
  </div>
  </br>
<% end %>

<% if @request.readings.any? %>
  <h3>Readings from other users</h3>
  <ul class="list-group">
    <% @request.readings.each do |reading| %>
		<li class="list-group-item">
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<h3 class="panel-title"><%= reading.user.username.capitalize %></h3>
			  	<p class="help-block"><i class="fa fa-clock-o"></i> Reading posted <%= time_ago_in_words(reading.created_at) %> ago</p></div>
			  	<div class="panel-body">
			      <p><%= simple_format(reading.content) %></p>   
            <% if current_user == Request.find(params[:id]).user %>
            <%= link_to "Leave a Rating", reading_path(reading), class: "btn btn-md btn-primary" %>
            <% end %>
			  	</div>

			</div>
		</li>
	<% end %>
  </ul>

<% end %>

</div>


